@import "../colors";
header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(20px);
    height: 56px;
    position: fixed;
    z-index: 20;
    border-bottom: .3px solid rgb($border_style, 0.140) ;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        ._logo {
            border: none;
            background: none;
        }

        ._header__nav {
            width: 70%;
            display: flex;
            justify-content: space-between;

            a {
                font: var(--link-setting);
                color: var(--link-gray);
                text-transform: uppercase;

                &:hover {
                color: var(--link-alt-gray);
                }

            }
        }
    }
    
}