@import "../colors";
@mixin header($state :false) {
    width: 60%;
    display: flex;
    justify-content: space-between;
            
    a {
        font: var(--link-setting);
        color: var(--link-gray);
        text-transform: uppercase;
        letter-spacing: .5px;
        white-space: nowrap;
                
        &:hover {
          color: var(--link-alt-gray);
        }
                
    }
}
header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(20px);
    height: 56px;
    position: fixed;
    z-index: 20;
    border-bottom: .3px solid rgb($border_style, 0.140) ;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header_head {
            display: flex;
            gap: 5%;
        }

        ._logo {
            border: none;
            background: none;
        }

        h3,h3 {
            color: $gray1000;
        }
        ._header__nav {
            @include header;
            transition: 0.1s;
        }
         ._header__nav._client {
            //  @include header;
            width: 40% ;
          }
    }
    
}