@import "../colors";
main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .wellcome_div {
        width: 100%;
        height: 95vh;
        display: flex;
        align-items: center;
        justify-content: center;

        .intros{
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            
            width: 95%;
            height: 80vh;

            .contant{
                width: 95%;
                height: 100%;
                display: flex;
                justify-content: space-between;
            }
        }
        .intro_intro {
            height: 1px;
            width:  1px;
        }

        .verticaly {
            height: 100%;
            background: linear-gradient(0deg, $gredient_intro);
        }
        .horyzantaly {
            width: 100%;
            background: linear-gradient(90deg, $gredient_intro);

        }
        
        
        ._ercan {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            justify-content: space-between;
            position: relative;
            width: 100%;
            height: 35%;
            
            
            p {
                font: var(--link-setting);
                color: var(--link-gray);
                font-size: 1.5vw;
            }

            
            ._buttons_{
                display: flex;
                justify-content: center;
                margin-bottom: 10px;
                width: 100%;
                position: relative;


                ._vertically {
                    width: .1vw;
                    height: 100px;
                }
                
                ._contant_buttons {
                    display: flex;
                    margin: 10px 0;
                    gap: 10px;
                }
                
                button {
                    padding: .6vw 1.3vw;
                    font: 500 1.2vw / 150% var(--font-metor-sans);
                }
            }

            ._top {
                top: 0;
            }

            ._bottom {
                bottom: 0;
            }
            
        }
    }

    ._switch_client {
        width: 100%;
        display: flex;
        justify-content: center;

    }

    .swiper-slide {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 270px;

    }

    .swiper_wellcome_page{
        width: 100%;
    }
    ._news_swiper .swiper-slide {
        width: 90%;
        height: 25%;
        margin-bottom: 10px;
        p{
            color: beige;
            font-size: 14px;
        }
        .swiper-slide-active {
            animation: _parapgraph_wellcome_page 3s ease-in-out;
        }
        @keyframes _parapgraph_wellcome_page {
            from{
                opacity: 0;
            };
            50%, 80%{
                opacity: 1;
            }
            to{
                opacity: 0;
            }
        }
    }

    ._page {
        width: 100%;
        height: 60vh;
        display: flex;
        flex-direction: column;
        position: relative;
        ._light_backdrop {
            z-index: -1;
            position: absolute;
            top: 8vw;
            left: 0;
            width: 100%;
            height: 10vw;
            background: linear-gradient(123deg,
            rgb(177, 108, 234) 0%,
            rgb(255, 94, 105)20%,
            rgb(255, 138, 86) 60%,
            rgb(255, 168, 75) 100%
            );

            border-radius: 60%;
            filter: blur(60px);
            }
        }
        ._gpon_title {
            background-color: var(--basic-black);
            width: 70%;
            height: 4vw;
            border: 1px solid rgb($border_style, .5);
            h2 {
                color: beige;
                font: 900 50px/100% var(--font-inter);
                letter-spacing: 1px;
              }   

            }

        ._backdrop__client_page {
            width: 100%;
            height: 50vh;

            ._iterface_page {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;

                @keyframes rotateAntiClockwise {
                    from {
                    transform: rotate(0deg); /* Начальное положение - 0 градусов */
                    }
                    to {
                    transform: rotate(-360deg); /* Заключительное положение - -360 градусов (против часовой стрелки) */
                    }
                }
                
            }

    }
    
}