$blue-accent: #007AFF;
$blue-alt: #2f7bcc;

//Gray
$gray100: #1A1A1A;
$gray200: #181818;
$gray400: #656565;
$gray500: #949494;
$gray1000: #EDEDED;

$gray400-05:#65656595;
//White
$white-default: #fff;
$white-100: #dcdcdc;


//Yelow
$yelow-accent: #FFE600;


//Black
$black-accent: #000;

//Red 
$red600: oklch(71.12% 0.1881 21.22);
$red700: oklch(62.56% 0.2524 23.03);





$gredient_intro: rgba(27, 27, 27, 0.254) 0%, rgba(128, 128, 128, 0.561) 45%, rgba(27, 27, 27, 0.254) 100%;



$border_style: rgb(193, 193, 193);