$blue-accent: #007AFF;
$blue-alt: #2f7bcc;

//Gray
$gray100: #1A1A1A;
$gray1000: #EDEDED;


//White
$white-default: #fff;
$white-100: #dcdcdc;


//Yelow
$yelow-accent: #FFE600;


//Black
$black-accent: #000;